<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8"/>
<title>Log</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
<script src="bootstrap/js/header.js"></script>
</head>
<body>

	<header id="header"></header>
    
    	<div class="panel panel-default">
    		<div class="panel-heading">
    			<h1 class="panel-title">Log</h1>
    		</div>
    		
    		<div class="panel-body">
				 <table class="table table-hover">
					  <tr>
						<th>ID</th>
						<th>Política</th>
						<th>Estado da maquina</th>
						<th>Data/Hora</th>
					  </tr>
					  <tr>
						<td>ex:1</td>
						<td>ex:ROI</td>
						<td>ex:ligada</td>
						<td>ex: 12/02/17 17:28</td>
					  </tr>
					</table>
				
    	</div>
	</div>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>